---
---

/* main.css */

/* ----- Base elements ----- */
body{
	text-align: center;
	font-family: Lato;
	max-width: 640px;
  margin: 0 auto;
}

h2{
	margin: 0 0 -.2em 0;
	padding: .5em 1em 0;
	font-weight: 300;
	font-style: normal;
	font-size: 2.2em;
	line-height: 1.25em;
	color: rgb(55,35,0);
}

h3{
	margin: 10px 0 -7px;
	font-weight: 300;
	font-style: normal;
	font-size: 1.6em;
	color: rgb(55,35,0);
}

h5{
	margin: -20px 1.7em 20px;
	padding: 12px 0 0;
	text-align: left;
	font-weight: 300;
	font-style: normal;
	font-size: .9em;
	color: rgb(84,84,84);
}

p{
	padding: 0em 1.5em .5em;
	text-align: left;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.60em;
	color: rgb(84,84,84);
}

dd{
	margin: 0;
}

select{
	font-family: Lato;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	padding: 0.5em 1em;
	margin: 1px 0 0 -2px;
	width: 95%%;
	border-radius: 0px;
	border-color: #000;
	background-color: rgb(64, 132, 254);
	color: #FFF;
	background-image: url('../img/icons/drop_arrow.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 54px;
	-webkit-appearance: none;
}

option{

}

/* ----- Sections ----- */
#coffeeTableBanner{
	text-align: center;
	background-color: transparent;
	margin-top: -87px;
}

#fullSection{
	width: 100%;
	margin: 0 0 -19px;
}

#cardSection, #cardSectionComplete{
	margin: 0;
	padding: 1em 1.5em;
	width: 100%;
}

#cardSectionComplete{
	border-radius: 35px;
}

#accordionSection{
	margin: -15px 0 0;
}

#specSheetBar{
	color: white;
	/*margin: 0 0 0 -35px;*/
	margin: 0;
	text-align: center;
}

#textBar{
	color: white;
	text-align: center;
}

a.whiteText {color:#fff;}

/* ----- top bar styles ----- */
.top-bar, .top-bar.expanded, .top-bar.expanded .title-area, .rentals-top-bar{
	background: rgb(243,243,243); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(243,243,243) 0%, rgb(199,199,199) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(243,243,243)), color-stop(100%,rgb(199,199,199))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(243,243,243) 0%,rgb(199,199,199) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(243,243,243) 0%,rgb(199,199,199) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(243,243,243) 0%,rgb(199,199,199) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgb(243,243,243) 0%,rgb(199,199,199) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */
	text-align: left;
}

.top-bar .title-area{
	height: 50px;
}

.top-bar-section{
	margin-top: 0px;
}

.top-bar .name, .top-bar.expanded .name{
	margin: -5px -40px 5px; 
}

.top-bar .toggle-topbar.menu-icon{
	margin-top: -14px;
}

.top-bar .toggle-topbar.menu-icon a::after{
	box-shadow: 0 10px 0 1px #888,0 16px 0 1px #888,0 22px 0 1px #888;
}

.top-bar-section ul li>a{
	font-family: Lato;
	font-weight: 300;
	font-size: 1.2em;
	text-decoration: none;
}

/* ----- Card styles ----- */
#cardHead{
	width: 100%;
	border-radius: 35px 35px 0 0;
	border-color: black black gray;
	border-style: solid;
	border-width: 1px 1px 0;
	background-color: white;
}

#cardContent{
	border-radius: 0 0 35px 35px;
	border-color: gray black black;
	border-style: solid;
	border-width: 0px 1px 1px;
	-moz-box-shadow: 0 1px 1px black;
	-webkit-box-shadow: 0 1px 1px black;
	box-shadow: 0 1px 1px black;
	background-color: white;
}

#cardContent h4{
	padding: 0em 1.5em .5em;
	margin: 5px 0 -10px -5px;
	text-align: left;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 1.1em;
	color: rgb(84,84,84);
}

#cardContent ul{
	text-align: left;
	margin-left: 12px;
}

#cardContent li{
	padding: 0em 1.5em .5em 0;
	text-align: left;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;
	color: rgb(84,84,84);
}

#cardContent a{
	text-decoration: none;
}

#cardContent a:visited, #cardContent a:link{
	text-decoration: none;
	color: rgb(30,100,187);
}

p.inline{
	margin: 12px 0 -5px;
}

.full{
	width: 100%;
}

ul#cardInfo{
	text-align: center;
}

ul#cardInfo li{
	display: inline-block;
}

/* ----- CardComplete Section ----- */

#outerCardSectionComplete{
	padding: 1em 1.5em;
}

/* ----- Homepage news item -----*/

.newsItem h2 a {
  color: #372300;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* ----- Full section styling ----- */

#fullSection ul{
	padding: 1em;
}

#fullSection ul li{
	display: inline-block;
	line-height: 45px;
	padding-right: 1.5em;
	margin-right: 15px;
	font-size: .7em;
	color: #AAAAAA;
}

/* ----- Accordian styling ----- */
#accordionSection dd a{
	text-align: left;
	font-family: Lato;
	text-decoration: none;
	font-weight: 300;

	background: rgb(225,225,225); /* Old browsers */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, -moz-linear-gradient(top, rgb(225,225,225) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(225,225,225)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, -webkit-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, -o-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* Opera 11.10+ */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, -ms-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: url('../img/icons/icon_accordion_closed.png') no-repeat center right 4%, linear-gradient(to bottom, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */;
}

#accordionSection dd.active a{
	background: rgb(225,225,225); /* Old browsers */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, -moz-linear-gradient(top, rgb(225,225,225) 0%, rgb(255,255,255) 100%); /* FF3.6+ */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(225,225,225)), color-stop(100%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, -webkit-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* Chrome10+,Safari5.1+ */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, -o-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* Opera 11.10+ */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, -ms-linear-gradient(top, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* IE10+ */
	background: url('../img/icons/icon_accordion_open.png') no-repeat center right 4%, linear-gradient(to bottom, rgb(225,225,225) 0%,rgb(255,255,255) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */;
}

#accordionSection dd a{
	border-bottom: 2px solid rgb(148,148,148);
}

#accordionSection dd a h3{
	font-weight: 300;
	margin: 0 20% .2em 0;
}

#accordionSection dd a h6{
	font-weight: 300;
	margin: 0 20% 0 0 ;
	font-size: 1.3em;
}

#accordionSection dd .content{
	text-align: left;
	overflow: hidden;
	padding: 0 0 10px 0;	
}

#accordionSection dd .content p, #accordionSection dd .content ul{
	color: gray;
}

#accordionSection dd .content ul li{
	font-weight: 300;
}

#accordionSection dd .content ul li.listHeader{
	font-weight: 400;
	list-style: none;
}

.projectedCapacitive{width: 40%;}
.stayConnected{width: 55%;}
.vandalProof{width: 50%;}
.expansiveMedia{width: 50%;}
.integratedi7{width: 75%; margin: 0 14%;}
.ruggedized{width: 45%;}

/* ----- Home Page styles ----- */
#homePageSectionTitle{
	text-transform: uppercase;
	padding: 25px 0 20px;
	font-size: 1.5em;
	text-align: left;
	padding-left: 4em;
}

#homePageSectionTitle:before{
	box-shadow: -7px 10px 0 1px #F00, -2px 20px 0 1px #F00,-12px 0px 0 1px #F00;
	content: "";
	-webkit-transform: rotate(-65deg);
	-moz-transform: rotate(-65deg);
	-o-transform: rotate(-65deg);
	-ms-transform: rotate(-65deg);
	width: 22px;
	padding: 0;
	position: absolute;
	left: 9%;
}

.orbit-timer{
	display: none;
}

.orbit-bullets, .orbit-bullets-container{
	background-color: rgb(244,244,244);
	margin-bottom: 10px !important;
}

.orbit-bullets li{
	background: rgb(100,100,100);
}

.orbit-bullets li .active{
	background: rgb(60,60,60) !important;
}

/*social bar */
ul#specSheetBar li{
	list-style-type: none;
	list-style-image: none;
	padding: 0 .7em;
	display: inline;
}

#recentProjectsContainer{
	width: 100%;
	height: 230px;
	overflow-x: scroll;
	overflow-y: hidden;
}

ul#recentProjects{
	width: 1750px;
	padding: 0;
	margin: 16px 0px;
}

ul#recentProjects li{
	display: inline;
	padding: 0 5px;
}

ul#recentProjects li img{
	width: 330px;
}

#newsletterSignup{
	text-align: left;
	border-width: 2px 20px 2px 2px;
	border-style: solid;
	border-color: #808080;
	font-size: 1.5em;
}

#submitButton{
	margin: 10px 0 20px -34px;
	width: 42px;
}

/* ----- Other id's ---- */
#seperator{
	height: 87px;
	margin-top: -97px;
}

#specSheetBar ul, ul#specSheetBar{
	display: inline-block;
	list-style-image: none;
}

#specSheetBar ul li.listHeader{
	float: left;
	list-style-type: none;
	list-style-image: none;
	background: none;
}

#specSheetBar ul li{
	float: left;
	font-size: .65em;
	list-style-type: none;
	margin: 0 -9px;
	padding: 4px 27px;
	background: url('../img/icons/icon_pdf.png') no-repeat center left;
}

.draftingNumber2{
	top: -20px;
	margin: 0 0 0 45px;
	float: left;
}

.superSelect{
	background-color: black;
	padding: .2em 0;
}

.rentals-top-bar, .rentals-top-bar ul{
	list-style-type: none;
	padding: 15px 0 0 8px;
	margin: -20px 0;
}

footer {
  background-color: #f6f6f6;
  font-size: 1.4em;
  margin-top: 70px;
  text-align:center;
}

footer ul{
	list-style-type: none;
	text-align: left;
}

footer ul li{
	padding: 0.4em 0;
	font-size: 1.2em;
	font-weight: 300;
}

footer ul li a{
	text-decoration: none;
	color: #444444;
}
 
/* ----- Text colors and transforms----- */
.listHeader{
	list-style-type: none;
	font-weight: 400;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.indent{padding-left: 1em;}

.leftText{
	text-align: left;
}

.centerText{
	text-align: center;
}

.heavyText{
	font-weight: 400;
}

.noMargin, #fullSection.noMargin{
	margin: 0;
}

h2.aboveImage{
	padding: .5em 1em 1em;
}

p.legalText{
	font-size: .75em;
	padding: 1em 2em;
}

p.footerText{
	font-size: 1em;
	padding: 1em 2.5em;
}

.whiteText{
	color: white;
}

.grayText{
	color: rgb(136,136,136);
}

.darkishBlueText{
	color: rgb(9,62,96);
	padding: .25em 1.5em;
}

.darkBlueText{
	color: rgb(72,64,120);
}

.cyanText{
	color: cyan;
}

.darkBrownText{
	color: rgb(55,35,0);
}

.darkText{
	color: rgb(84,84,84);
}

.invisibleText{
	color: rgba(0,0,0,0);
}

/* ----- Bacgkround classes ----- */

	/* ----- Icon Backgrounds ----- */
.bluetooth{background: url("../img/icons/logo_bluetooth.png") center left no-repeat; padding-left:31px;}
.wifi{background: url("../img/icons/logo_wifi.png") center left no-repeat; padding-left:55px;}
.usb{background: url("../img/icons/logo_usb.png") center left no-repeat; padding-left:50px;}
.hdmi{background: url("../img/icons/logo_hdmi.png") center left no-repeat; padding-left:66px;}
.widi{background: url("../img/icons/logo_widi.png") center left no-repeat; padding-left:30px;}
.rfid{background: url("../img/icons/logo_rfid.png") center left no-repeat; padding-left: 35px;}

	/* ----- Gradients ----- */
.gradientBg-60{
	background: rgb(246,248,231); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(246,248,231) 0%, rgb(255,255,255) 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(246,248,231)), color-stop(60%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 60%); /* IE10+ */
	background: linear-gradient(135deg, rgb(246,248,231) 0%,rgb(255,255,255) 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8e7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.gradientBg-90{
	background: rgb(246,248,231); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(246,248,231) 0%, rgb(255,255,255) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(246,248,231)), color-stop(90%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgb(246,248,231) 0%,rgb(255,255,255) 90%); /* IE10+ */
	background: linear-gradient(135deg, rgb(246,248,231) 0%,rgb(255,255,255) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8e7', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.grayGradient{
	background: white url('../img/bg_cup_of_joe.png') repeat-x;
}

.fourkBgGradient{
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(239,239,239) 0%, rgb(244,244,244) 90%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(244,244,244)), color-stop(90%,rgb(255,255,255))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgb(239,239,239) 0%,rgb(244,244,244) 90%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgb(239,239,239) 0%,rgb(244,244,244) 90%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgb(239,239,239) 0%,rgb(244,244,244) 90%); /* IE10+ */
	background: linear-gradient(135deg, rgb(239,239,239) 0%,rgb(244,244,244) 90%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8e7', endColorstr='#ffffff',GradientType=1 );
}

	/* ----- Textures ----- */
.textureCoffeeTableConnected, .textureBuiltInAmericano, .textureTwoYearWarranty, .textureDraftingTwoYearWarranty{
	position: relative;
}

.textureCoffeeTableConnected:after, .textureBuiltInAmericano:after, .textureTwoYearWarranty:after, .textureDraftingTwoYearWarranty:after{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: "";
}
.textureCoffeeTableConnected:after{	
	background-image: url('../img/coffeetable/bg_coffee_table_connected.png');
	background-color: black;
} 

.textureBuiltInAmericano:after{	
	background-image: url('../img/coffeetable/bg_built_in_americano.png');
	background-color: black;
}

.textureTwoYearWarranty:after{
	background-image: url('../img/redefined/photo_two_year_warranty.png');
	background-color: black;
}

.textureDraftingTwoYearWarranty:after{
	background-image: url('../img/drafting/bg_2_year_warranty.png');
}

.coffeeSpecSheetBar{
	background: url('../img/coffeetable/bg_spec_sheets.png') repeat-x;
	ul {
  	li {
    	a {
      	color:#fff;
      	text-decoration:none;
      	&:hover {
        	border-bottom-style: solid;
        	border-bottom-width: 1px;
      	}
    	}
  	}
	}
}


.bg46DraftingBg{
	background-image: url('../img/drafting/drop-downs/bg_drop-downs.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bg46DraftingBg-repeat{
	background-image: url('../img/drafting/drop-downs/bg_drop-downs.png');
	background-size: 100%;
}

.header4kBg{
	background-image: url('../img/4k/intro-bg.png');
	background-size: 100% 100%;
}

.draftingCard{
	background-image: url('../img/drafting/drafting-bg.png');
	background-size: 100% 100%;
}

.rentalsCard{
	background-image: url('../img/rentals/coffee-bg.png');
	background-size: 100% 100%;
}

.fourkCard{
	background-image: url('../img/rentals/retina-bg.png');
	background-size: 100% 100%;
}

.cardShadow{
	box-shadow: 2px 2px 1px #808080;
}

	/* ----- Solid colors ----- */
.noBg{
	background-color: rgba(0,0,0,0);
}

.whiteBg{
	background-color: rgb(255,255,255);
}

.fourkBg{
	background-color: rgb(244,244,244);
}

.fourkDarkGrayBg{
	background-color: rgb(231,231,231);
	margin-bottom: -25px;
}

.khakiBg{
	background-color: rgb(247, 243, 235);
}

.draftingBlueBg{
	background-color: rgb(119,166,221);
}

.lightGrayBg{
	background-color: rgb(158,158,158);
}

.grayBg{
	background-color: rgb(55,55,55);
}

.darkGrayBg{
	background-color: rgb(38,38,38);
}

.darkBlueBg{
	background-color: rgb(72,64,120);
}

.basicallyBlackBg{
	background-color: rgb(5,5,5);
}


/* ##### ResponsiveProductGrid Mods ##### */
/* ----- Gradient Backgrounds ----- */
.purpleRadialGradient {
background: #1c1a2a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMxYzFhMmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiMxYjE5MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiMxMTEwMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMTExMDFhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover, #1c1a2a 0%, #1b1928 24%, #11101a 53%, #11101a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1c1a2a), color-stop(24%,#1b1928), color-stop(53%,#11101a), color-stop(100%,#11101a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #1c1a2a 0%,#1b1928 24%,#11101a 53%,#11101a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #1c1a2a 0%,#1b1928 24%,#11101a 53%,#11101a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #1c1a2a 0%,#1b1928 24%,#11101a 53%,#11101a 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #1c1a2a 0%,#1b1928 24%,#11101a 53%,#11101a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1a2a', endColorstr='#11101a',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.greyRadialGradient {
background: #979797; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5Nzk3OTciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEyJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDVkNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-radial-gradient(center, ellipse cover,  #979797 0%, #979797 7%, #979797 12%, #5d5d5d 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#979797), color-stop(7%,#979797), color-stop(12%,#979797), color-stop(100%,#5d5d5d)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #979797 0%,#979797 7%,#979797 12%,#5d5d5d 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #979797 0%,#979797 7%,#979797 12%,#5d5d5d 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #979797 0%,#979797 7%,#979797 12%,#5d5d5d 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #979797 0%,#979797 7%,#979797 12%,#5d5d5d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979797', endColorstr='#5d5d5d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.brownRadialGradient {
background: #4c371f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM0YzM3MWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzEyNTE4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-radial-gradient(center, ellipse cover,  #4c371f 0%, #312518 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4c371f), color-stop(100%,#312518)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #4c371f 0%,#312518 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #4c371f 0%,#312518 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #4c371f 0%,#312518 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #4c371f 0%,#312518 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c371f', endColorstr='#312518',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.aquamarineVerticalGradient {background: #10bc83; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwYmM4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iIzBkYTU4MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg5JSIgc3RvcC1jb2xvcj0iIzA0NmU3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjViNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #10bc83 0%, #0da580 48%, #046e77 89%, #025b75 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10bc83), color-stop(48%,#0da580), color-stop(89%,#046e77), color-stop(100%,#025b75)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #10bc83 0%,#0da580 48%,#046e77 89%,#025b75 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #10bc83 0%,#0da580 48%,#046e77 89%,#025b75 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #10bc83 0%,#0da580 48%,#046e77 89%,#025b75 100%); /* IE10+ */
background: linear-gradient(to bottom,  #10bc83 0%,#0da580 48%,#046e77 89%,#025b75 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10bc83', endColorstr='#025b75',GradientType=0 ); /* IE6-8 */
}
.responsiveProductGrid {text-align:left;}
.responsiveProductGrid #productGrid {padding:0;}
.responsiveProductGrid #productGrid h2 {background: transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/grey-header-bar-980x50.png') right top repeat; box-sizing:border-box; clear:both; color:#fff; font-size:36px; font-family:"Lato-Light", sans-serif; font-weight:300; min-height:50px; line-height:36px; margin:2px 0;  padding:.5em 1em 0 40px; text-transform:uppercase;}
.responsiveProductGrid #productGrid h2 span {display:inline-block; position:relative; bottom:-4px;}

.responsiveProductGrid #productGrid h2.half {background: transparent url('http://ideum.com/images/product-grid-responsive/grey-header-bar-980x50.png') center no-repeat; width:100%;}
.responsiveProductGrid #productGrid h2.left {clear:none; float:left;}
.responsiveProductGrid #productGrid h2.right {clear:none; float:right;}

.responsiveProductGrid #productGrid .productCell {box-sizing:border-box; margin-bottom:2px; padding:20px 40px; text-align:center; width:100%;}
.responsiveProductGrid #productGrid .productCell img.productImage {position:relative; right:-0px; width:100%;}

.responsiveProductGrid #productGrid #resp_platform_46_coffee_table {background: transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/brown-grid-580x800.jpg') left top no-repeat; background-size:120%; float:left;}
.responsiveProductGrid #productGrid #resp_platform_46_coffee_table img.productImage {}

.responsiveProductGrid #productGrid #resp_platform_32_coffee_table {background: transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/brown-grid-580x800.jpg') left top no-repeat; background-size:120%; float:right;}
.responsiveProductGrid #productGrid #resp_platform_32_coffee_table img.productImage {}

.responsiveProductGrid #productGrid #resp_platform {float:left;}
.responsiveProductGrid #productGrid #resp_platform img.productImage {}

.responsiveProductGrid #productGrid #resp_platform_46 {float:right;}
.responsiveProductGrid #productGrid #resp_platform_46 img.productImage {}

.responsiveProductGrid #productGrid #resp_platform_drafting_46 {background:#72b9fb url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/grid-bg.png') repeat 0 0; float:left;}
.responsiveProductGrid #productGrid #resp_platform_drafting_46 img.productImage {right:-0px;}

.responsiveProductGrid #productGrid #resp_platform_drafting_55 {background:#72b9fb url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/grid-bg.png') repeat 0 0; float:right;}
.responsiveProductGrid #productGrid #resp_platform_drafting_55 img.productImage {right:-0px;}

.responsiveProductGrid #productGrid #resp_pro {float:left;}
.responsiveProductGrid #productGrid #resp_pro img.productImage {right:-0px;}

.responsiveProductGrid #productGrid #resp_presenter {float:left;}
.responsiveProductGrid #productGrid #resp_presenter img.productImage {right:-0px;}

.responsiveProductGrid #productGrid #resp_pro_lab {float:right;}
.responsiveProductGrid #productGrid #resp_pro_lab img.productImage {right:-0px;}

.responsiveProductGrid #productGrid #resp_pano {float:left;}
.responsiveProductGrid #productGrid #resp_pano img.productImage {right:-0px; width:59%;}

.responsiveProductGrid #productGrid #resp_sales {background:transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/direct-sales-580x400.jpg') repeat 0 0; background-size:cover; float:right; margin-bottom:2px; padding-top:30px;}

.responsiveProductGrid #productGrid #resp_walls_sales {background:transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/direct-walls-sales-580x350.jpg') repeat 0 0; background-size:cover; float:right; margin-bottom:2px; padding-top:30px;}

.responsiveProductGrid #productGrid #resp_rentals {background:transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/rentals-580x316.jpg') repeat 0 0; background-size:cover; float:right; padding-top:50px;}

.responsiveProductGrid #productGrid h3, .responsiveProductGrid #productGrid h3 a {color:#fff; font-size:50px; font-weight:400; line-height:64px; text-align:left; text-decoration:none; width:70%;}
.responsiveProductGrid #productGrid h3 a:hover {color:#fff; text-decoration:underline;}
.responsiveProductGrid #productGrid p {color:#fff; font-size:26px; font-family:"OpenSansRegular", sans-serif; line-height:40px; padding:0; text-align:left;}

.responsiveProductGrid #productGrid p.gridButton {margin-top:30px;}
.responsiveProductGrid #productGrid p.gridButton a {background-color:#3e4260; color:#fff; display:table-cell; font-size:18px; height:40px; padding:0 20px; text-decoration:none; text-transform:uppercase; vertical-align:middle;}
.responsiveProductGrid #productGrid p.gridButton a:hover {text-decoration:underline;}

.mobileOnly {display:none;}
.desktopOnly {display:block;}

@media (max-width: 1024px) {
  .mobileOnly {display:block;}
  .desktopOnly {display:none;}
  body {overflow-x:hidden;}
  #page, #pageExteriorWrapper {min-width:100%; width:100%;}
  #contentWrap {width:100%;}
  #breadCrumbWrap {width:98%;}
  .responsiveProductGrid #productGrid {margin-left:auto; margin-right:auto; padding:0; max-width:100%;}
  .responsiveProductGrid #productGrid h2 {max-width:100%; padding:.5em 1em 0 40px;}
  .responsiveProductGrid #productGrid h2.left, .responsiveProductGrid #productGrid h2.right {background: transparent url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/grey-header-bar-980x50.png') top left no-repeat; width:100%; }
  
  .responsiveProductGrid #productGrid .productCell {clear:both; float:left !important; margin-bottom:2px; padding:20px 40px; width:100% !important;}
  .responsiveProductGrid #productGrid h3, .responsiveProductGrid #productGrid h3 a {font-size:50px; font-weight:400; line-height:64px; max-width:70%;}
  .responsiveProductGrid #productGrid p {font-size:26px; line-height:40px; padding:0px;}
  .responsiveProductGrid #productGrid #resp_platform_46_coffee_table, .responsiveProductGrid #productGrid #resp_platform_32_coffee_table {background-size:120%;}
  .responsiveProductGrid #productGrid #resp_pano, .responsiveProductGrid #productGrid #resp_sales, .responsiveProductGrid #productGrid #resp_rentals {height:100%;}
  .responsiveProductGrid #productGrid .productCell img.productImage {right:-0%;}
  
  #footer {max-width:100%; min-width:220px !important;}
  #footerInteriorWrap {height:100%; max-width: 100%; padding:22px 30px; width:calc(100% - 60px);}
  #footerInteriorWrap #supplementary.two #first {width:25%;}
  #footerInteriorWrap #supplementary.two #second {width:70%;}
}

@media (max-width: 675px) {
  .responsiveProductGrid #productGrid h2 {max-width:100%; padding:.5em 1em 0 40px;}
  .responsiveProductGrid #productGrid .productCell {padding:20px 40px;}
  .responsiveProductGrid #productGrid #resp_platform_46_coffee_table, .responsiveProductGrid #productGrid #resp_platform_32_coffee_table {background-size:140%;}
  .responsiveProductGrid #productGrid h3, .responsiveProductGrid #productGrid h3 a {font-weight:400; max-width:100%; width:100%;}
  .responsiveProductGrid #productGrid p { padding:0px;}
  .responsiveProductGrid #productGrid p.gridButton a {height:auto; padding:8px 20px;}
}

@media (max-width: 500px) {
  .responsiveProductGrid #productGrid h2 {max-width:100%; padding:.5em 1em 0 40px;}
  .responsiveProductGrid #productGrid .productCell {padding:20px 40px;}
  .responsiveProductGrid #productGrid #resp_platform_46_coffee_table, .responsiveProductGrid #productGrid #resp_platform_32_coffee_table {background-size:130%;}
  .responsiveProductGrid #productGrid h3, .responsiveProductGrid #productGrid h3 a {font-size:26px; font-weight:300; line-height:40px; max-width:100%;}
  .responsiveProductGrid #productGrid p {font-size:16px; line-height:24px; padding:0px;}
  .responsiveProductGrid #productGrid p.gridButton a {height:auto; padding:8px 20px;}
}

@media (max-width:320px) {  
  .responsiveProductGrid #productGrid #resp_platform_46_coffee_table, .responsiveProductGrid #productGrid #resp_platform_32_coffee_table {background:#4c371f url('http://ideum.com/wp-content/themes/ideum2012/images/product-grid-responsive/brown-grid-580x800.jpg') left bottom no-repeat;}  
}

#share-buttons {background-color:gainsboro;}
#share-buttons img {border:0; box-shadow:0; display:inline; padding:5px; width:35px;}
#share-buttons img:hover {opacity:0.8;}
