---
layout: default
title: Ideum
---

<ul data-orbit class="fourkBg">
    <li><a href="/coffee-tables/"><img src="/img/home/slides/ss-coffeetable.png" alt="slide 1"></a></li>
    <li><a href="/drafting/"><img src="/img/home/slides/ss-drafting.png" alt="slide 3"></a></li>
    <li><a href="http://ideum.com/interactive-exhibits/surveying-george-washington-interactive"><img src="/img/home/slides/ss-crystalbridges.png" alt="slide 2"></a></li>
    <li><a href="http://ideum.com/interactive-exhibits/visit-indy-3d-interactive-display"><img src="/img/home/slides/ss-indy.png" alt="slide 4"></a></li>
    <li><a href="/redefined/"><img src="/img/home/slides/ss-redefined.png" alt="slide 5"></a></li>
</ul>

<div id="homePageSectionTitle" class="fourkBg">
    Recent Projects
</div>

<div id="recentProjectsContainer" class="fourkBg">
    <ul id="recentProjects">
        {% for slide in site.data.projects %}
          <li>
              <a href="{{ slide.permalink }}">
                  <img src="{{ slide.image }}">
              </a>
          </li>
        {% endfor %}
    </ul>
</div>

<!-- Yes this is static, among the many things to do to if Ideum.com ever leaves Wordpress. -->
<div id="homePageSectionTitle" class="fourkBg">
    Latest News
</div>

{% for item in site.data.news %}
    <div class="fourkBg" id="outerCardSectionComplete">
        <div class="whiteBg cardShadow" id="cardSectionComplete">
            <h2 class="leftText">{{ item.title }}</h2>
            <p>
                {{ item.excrept }}
                <a href="{{ item.permalink }}">Read more</a>
            </p>
        </div>
    </div>
{% endfor %}

<div id="homePageSectionTitle" class="fourkBg">
    Software Initiatives
</div>

<div class="fourkBg">
    <img style="width:80%" src="/img/icons/logo-gwgp.png">
    <p>Build and share your own touch controls for popular PC Games.</p>

    <img style="width:80%" src="/img/icons/logo-oe.png">
    <p style="margin-bottom: 0px;">Multitouch &amp; HCI authoring for exhinits and installations. Free for developers.</p>
</div>

<div id="homePageSectionTitle" class="fourkBg">
    Stay in the Loop
</div>

<div class="fourkBg">
    <ul id="specSheetBar">
        <li><a href="http://ideum.com/feed/" target="_blank"><img src="/img/icons/soc-rss.png"></a></li>
        <li><a href="http://www.facebook.com/ideum" target="_blank"><img
          src="/img/icons/soc-facebook.png"></a></li>
        <li><a href="https://twitter.com/#!/ideum" target="_blank"><img
          src="/img/icons/soc-twitter.png"></a></li>
        <li><a href="http://multitouch-labs.tumblr.com/"
          target="_blank"><img src="/img/icons/soc-tumblr.png"></a></li>
        <li><a href="http://www.youtube.com/user/multitouchexhibits"
          target="_blank"><img src="/img/icons/soc-youtube.png"></a></li>
        <li><a href="http://vimeopro.com/ideum/ideum"
          target="_blank"><img src="/img/icons/soc-vimeo.png"></a></li>
        <li><a href="http://www.flickr.com/photos/ideum/"
          target="_blank"><img src="/img/icons/soc-flickr.png"></a></li>
    </ul>

    <p>Ideum Newsletter</p>
    <input id="newsletterSignup" type="text" placeholder="Your Email"></input>
    <img id="submitButton" src="/img/icons/submit-arrow.png">
</div>

<!-- footer -->
<div id="fullSection">
    <p class="footerText">
        Ideum develops innovative hardware and software and is keenly focused on the future of Human Computer Interaction (HCI). Our multitouch tables and walls are known for their original designs and exceptional build-quality. Our creative and collaborative approach to custom exhibit design produces memorable visitor experiences.
    </p>
</div>
