<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/foundation/css/foundation.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/fonts.css">

        <script src="/foundation/js/vendor/jquery.js"></script>
        <script src="/foundation/js/vendor/modernizr.js"></script>
        <script src="/foundation/js/foundation/foundation.js"></script>
        <script src="/foundation/js/foundation/foundation.topbar.js"></script>
        <script src="/foundation/js/foundation/foundation.accordion.js"></script>
        <script src="/foundation/js/foundation/foundation.orbit.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta name="description" content="{{ page.description | default: site.description }}">
        
        <meta property="og:site_name" content="Ideum">
        <meta property="og:url" content="{% if page.opengraph.url %}{{ page.opengraph.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
        <meta property="og:title" content="{{ page.opengraph.title | default: page.title }}">
        <meta property="og:type" content="{{ page.opengraph.type | default: 'article' }}">
        <!-- <meta property="og:image" content="{{ page.opengraph.image | default: site.opengraph.default_image }}"> -->     
        <meta property="og:description" content="{{ page.opengraph.description | default: site.description }}"/>
    </head>
    <body>

        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="/"><img src="/img/icons/logo-new.png" width="80px"></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul>
              {% for node in site.pages %}
                {% unless node.url == '/' or node.url == '/error.html' or node.url contains '.css' %}
                  <li{% if page.url == node.url %} class="active"{% endif %}>
                    <a title="{{node.title}}" href="{{node.url}}">{{node.title}}</a>
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </section>
        </nav>

        {{ content }}

        <footer>
            <ul>
                <li><a title="home" href="http://ideum.com/home/">Home</a></li>
                <li><a title="Touch Tables" href="/products/">Touch Tables</a></li>
                <li><a title="Multitouch Walls" href="http://ideum.com/touch-walls/">Touch Walls</a></li>
                <li><a href="http://ideum.com/application-development/">Application Development</a></li>
                <li class="indent"><a title="Web + App Design" href="http://ideum.com/media-web-design/">Web + App Design</a></li>
                <li><a href="http://ideum.com/custom-exhibits/">Custom Exhibits</a></li>
                <li class="indent"><a href="http://ideum.com/interactive-exhibits/">Interactive Exhibits</a></li>
                <li><a title="Blog" href="http://ideum.com/blog/">Blog</a> / <a title="Job Opportunities" href="http://ideum.com/jobs/">Jobs</a> / <a title="About Us" href="http://ideum.com/about-us/">About Ideum</a></li>
                <li><a title="Support" href="http://ideum.com/customer-support/">Support</a></li>
            </ul>
        </footer>
        <script>
            // Hack to make topbar expandable on all screens
            Foundation.media_queries['topbar'] = 'not all';

            $(document).foundation({
                orbit: {
                    animation: 'slide',
                    timer_show_progress_bar: false,
                    timer_speed: 15000, // slow it way the heck down
                    animation_speed: 5500,
                    resume_on_mouseout: true,
                    pause_on_hover: false,
                    slide_number: false,
                    navigation_arrows: false,
                    bullets: true,
                    swipe: true,
                    circular: true
                  }
            });
        </script>
        <script src="/js/homepage.js"></script>
    </body>
</html>
